
  <swiper-container [modules]="swiperModules"
  [slidesPerView]="2.3"
  [keyboard]="true" >
 
<swiper-slide *ngFor="let slide of slides">
  <ion-card class="ion-text-center">
    <div class=" avatar-container ion-padding-vertical">
    <ion-avatar  >
      <img [src]="slide.banner" alt="">
    </ion-avatar>
  </div>
    
      <ion-card-title >
            <ion-text color="dark" class="name">
              <h6>{{slide.name}}</h6>
              </ion-text>
          </ion-card-title>
       <ion-card-content>
    <ion-chip fill="clear" color="success">
      Follow
    </ion-chip>
  </ion-card-content>
    </ion-card>

</swiper-slide>

  </swiper-container>
  
