<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Communities </ion-title>
    <ion-buttons slot="end" color="light" class="ion-no-padding-horizontal">
      <ion-button>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          slot="icon-only"
          name="camera-outline"
          class="ion-padding"
        ></ion-icon>
      </ion-button>
      <ion-button id="community-popover">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="community-popover" triggerAction="click" [dismissOnSelect]="true" >
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" lines="none" [routerLink]="['/settings']">Settings</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
     </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <p class="groups"  >
        <span class="material-symbols-outlined"
          >groups</span>
          <ion-button shape="round" class="add" >
            <ion-icon  name="add" slot="icon-only"></ion-icon>
          </ion-button>
      </p>

     
      <ion-label class="ion-padding-horizontal"><b>New community</b></ion-label>
    </ion-item>
  </ion-toolbar>
 
    <ion-list>
      <ion-item>
        <ion-thumbnail color="light" class="avatar-container">
          <img src="../../assets/images/career.jpg" alt="New community" />
        </ion-thumbnail>
        <ion-label class="ion-padding-horizontal">
          <b>30 Days CS B1 Challenge</b></ion-label
        >
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-avatar color="light" class="avatar-container">
          <img
            src="../../assets/images/anouncement.jpeg"
            alt="New community"
            height="40"
            width="40"
          />
        </ion-avatar>
        <ion-label class="ion-padding-horizontal">
          <ion-text color="dark"><b>Announcements</b></ion-text>
          <p><span>~NOVITECH:</span> Hello guys </p>
          </ion-label>
        <div class="note-badge">
          <ion-note slot="end">9:22 am</ion-note>

          <ion-badge slot="end" color="primary" class="round-badge"></ion-badge>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="chevron-forward-outline"></ion-icon>

        <ion-label class="ion-padding-horizontal" color="medium">
          View all
        </ion-label>
      </ion-item>
    </ion-list>
  
</ion-content>
