<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Communities </ion-title>
    <ion-buttons slot="end" color="light" class="ion-no-padding-horizontal">
      <ion-button>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          slot="icon-only"
          name="camera-outline"
          class="ion-padding"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <p class="groups"  >
        <span class="material-symbols-outlined"
          >groups</span>
      </p>

      <ion-button shape="round" class="add" size="small" >
        <ion-icon  name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label class="ion-padding-horizontal">New community</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar color="light" class="avatar-container">
          <img src="../../assets/images/career.jpg" alt="New community" />
        </ion-avatar>
        <ion-label class="ion-padding-horizontal"
          >30 Days CS B1 Challenge</ion-label
        >
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-avatar color="light" class="avatar-container">
          <img
            src="../../assets/images/anouncement.jpeg"
            alt="New community"
            height="40"
            width="40"
          />
        </ion-avatar>
        <ion-label class="ion-padding-horizontal">
          <ion-text color="dark">Announcements</ion-text>
          <p>~NOVITECH:</p></ion-label
        >
        <div class="note-badge">
          <ion-note slot="end">9:22 am</ion-note>

          <ion-badge slot="end" color="primary" class="round-badge"></ion-badge>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="chevron-forward-outline"></ion-icon>

        <ion-label class="ion-padding-horizontal" color="medium">
          View all
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
