

.icon-container span{
    height: 40px;
    width: 40px;
}



.groups{
    position: relative;
    border-radius: 6px;
    padding: 10px;
    background: #a8a7a7;
    color: white;
}

.add{
    position: absolute;
    left:20px;
    position: absolute;
    transform: translateY(50%);
    margin-bottom:1px;
}