.font-style span{
    color:var(--ion-color-primary)
}
ion-fab-button{
    --background:var(--ion-color-primary);
    --border-radius: 13px;
    --box-shadow:none;
}
ion-avatar{
    width: 50px;
    height: 50px;
} 