<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Calls</ion-title>
    <ion-buttons slot="end" color="light"  class="ion-no-padding-horizontal">
      <ion-button>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    <ion-button  >
    <ion-icon slot="icon-only" name="camera-outline" class="ion-padding"></ion-icon>
    </ion-button>
    <ion-button  >
    <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>Favourites</ion-list-header>
    </ion-list>
</ion-content>
