.item-container{
    --background:#f6f8fc;
    --border-radius: 25px;
    // --box-shadow:none;
    // position: relative;
    // z-index: -1;  
    // text-align: left;  
}
#metaAI{
    height: 30px;
    width: 30px;    
}
ion-title{
    font-weight: bold;
}

.note-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    
}
 ion-note{
    font-size: 0.8rem;
    align-self: center;
}
ion-fab-button{
    --background:var(--ion-color-primary);
    color:white;
    --border-radius: 13px;
    --box-shadow:none;
}
.msg{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.5rem;
}

.avatar-container{
    height: 50px;
    width: 50px;
}
.searchbar{
    margin-left: 10px;
    border-radius: 25px;
}