.avatar-container {
    position:relative;

}
.avatar-container ion-button{
    position: absolute;
    // transform: translateX(50%);
    transform: translateY(50%);

    margin-bottom:1px;
    left: 20px;
}
.recent ion-avatar{
    width: 40px;
    height: 40px;
    position: relative;
    padding:2px;
    border: 2px dashed #00a884;
}
.viewed ion-avatar{
    padding: 2px;
    border: 2px solid rgb(193, 191, 194);

}
ion-fab-button{
    color:white;
    --border-radius: 15px;
}