<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title color="dark">Settings</ion-title>
    <ion-back-button slot="start" [defaultHref]="['tabs/chats']"></ion-back-button>
    <ion-button slot="end" fill="clear" color="dark">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-avatar >
        <img src="../../assets/images/profile1.jpeg" alt="User Profile">
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text><b>Amutha Karuvelamuthu</b></ion-text>
        <p>Happy heart, happy l...</p>       
           </ion-label>
           <ion-buttons slot="end">
            <ion-button color="primary">
              <ion-icon name="qr-code-outline">
              </ion-icon>
            </ion-button>
            <ion-button  color="primary" fill="clear">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none" >
      <ion-icon name="key"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Account</ion-text>
        <p>Security notifications, change number</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" >
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Privacy</ion-text>
        <p>Block contacts, disappearing messages</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" >
      <ion-icon name="key"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Avatar</ion-text>
        <p>Create, edit, profile photo</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" >
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Favourites</ion-text>
        <p>Add, reorder, remove</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Chats</ion-text>
        <p>Theme, wallpapers, chat history</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Notifications</ion-text>
        <p>Message group & call tones</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon class="bi bi-database-down"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Storage and data</ion-text>
        <p>Network usage, auto-download</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>App language</ion-text>
        <p>English(device's language)</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Help</ion-text>
        <p>Help center, contact us, privacy policy</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Invite a friend</ion-text>
       
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list-header>
    <ion-text><p>Also from Meta</p></ion-text>
  </ion-list-header>
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Open Instagram</ion-text>       
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Open Facebook</ion-text>       
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon class="bi bi-threads"></ion-icon>
      <ion-label class="ion-padding">
        <ion-text>Open Threads</ion-text>       
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
